body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  background-color: #fff;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: -6px 6px 10px rgba(0,0,0,0.15);
  gap: 2.5rem;
}

.brand {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.brand img {
  width: calc(9vw + 3vh);
}

.brand .txt-brand {
  font-size: 1.6rem;
  font-weight: bold;
  color:  #9f01ea;
  text-align: center;
}

footer {
	background-color: #fff;
	text-align: center;
	font-size: .85rem;
	position: fixed;
	bottom: 0;
	width: 100%
}