@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

:root {
  font-size: 13px
}

*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
a {
	text-decoration: none;
}

li {
	list-style: none
}

body{
	/*background-repeat: no-repeat;*/
	background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
}

main {
	background-color: #fff;
	padding: 1.5rem;
	margin: 1rem;
}

.hr1 {
	margin: 2rem 0
}

.selected-menu {
	display: flex;
	justify-content: space-around;
	gap: 1rem;
}

.selected-menu span {
	width: 100%;
	height: 100%;
	text-align: center;
	padding: .5rem 0;
	border-radius: 2px;
	cursor: pointer;
	transition: .3s;
	font-size: 1.1rem;
	user-select: none;
}

.selected-menu span:hover {
	background-color: #e4e3e2;
	color: white

}

.selected-menu span.active {
	background-color: #e4e3e2;
	color: white
}

.input {
	display: flex;
	flex-wrap: wrap;
	gap: .5rem;
}

.input input {
	border: 1px solid #9fa6b2;
	border-radius: 2px;
	padding: .3rem .7rem
}

.inp-tags {
	position: relative;
}

#txt-tags:focus~.pointer{
	display: block;
}

.pointer {
	display: none;
	position: absolute;
}

.list-users-container {
	margin: 1.5rem .5rem
}

@media only screen and (max-width: 576px){
  :root {
    font-size: 10px
  }
}