@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

:root {
  font-size: 13px
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
	background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
}

header {
	background-color: #fff;
	padding: 1.5rem;
	margin: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 2px;
	box-shadow: -8px 8px 13px rgba(0,0,0,0.2);
	gap: 2.5rem;
}

.brand {
	display: flex;
	align-items: center;
	gap: 1.5rem;
}

.brand img {
	width: calc(9vw + 3vh);
}

.brand .txt-brand {
	font-size: 1.6rem;
	font-weight: bold;
	color:  #9f01ea;
	text-align: center;
}

.courses-container {
	background-color: #fff;
	padding: 1.8rem;
	margin: 1rem;
	background-color: transparent;
}

.course-title {
	text-align: center;
	font-size: 2rem;
	text-transform: uppercase;
	font-weight: bold;
	color: #9f01ea
}

.courses {
	display: flex;
	flex-wrap: wrap;
	gap: 2.5rem 1rem;
	justify-content: space-evenly;
	align-items: flex-start;
	padding: 1rem;
}

.scroller {
	display: flex;
	flex-wrap: wrap;
	padding: 7px;
	gap: 3px;
	justify-content: center;
}

.filter-child {
	padding: 5px 13px;
	cursor: pointer;
	user-select: none;
	transition: .3s ease;
	white-space: nowrap;
	text-align: center;
	color: #606060;
	background-color: #f2f2f2;
	border-radius: 4px
}

.filter-child.active {
	color: #f2f2f2;
	background-color: #606060
}

.course {
	display: flex;
	flex-direction: column;
	gap: 0.8rem;
	justify-content: flex-start;
	align-items: flex-start;
	max-width: 290px;
	padding: 3rem 1.5rem;
	box-shadow: -7px 7px 9px rgba(0,0,0,0.15);
	border-radius: 3px;
	box-sizing: border-box;
	background-color: #fff;
}

.thumbnail-container {
	width: 100%;
}

.course img.thumbnail {
	border-radius: 8px;
	width: 100%;
	transition: .4s;
	background-color: aqua
}

h6.video-title {
	margin: 0;
	padding: 0 .3rem;
	font-size: 1.1rem;
	font-weight: lighter;
	font-family: arial
}

.channel-name {
	font-weight: bold
}

.input-file {
	display: flex;
	align-items: center;
	gap: 3px;
	width: 100%;
}

.input-file .send-data {
	width: 75%	
}

.input-file .send-data button {
	width: 100%	
}

.input-file > button:last-child {
	width: 25%;
}

.submit-tugas {
}

@media only screen and (max-width: 576px){
  :root {
    font-size: 10px
  }
}